body {
  text-align: left;
  margin: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(40,40,40);
}

a {
  transition: all ease-in-out 100ms;
  color: white;
  text-decoration: none;
  margin: 5px;
  font-weight: normal;
}

a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

a:visited {
  font-weight: lighter;
}